.breadcrumb-container {
    word-break: break-all;
    min-height: 80px;
    background-color: #eceff1;
}

.breadcrumb-back {
    font-size: 32px;
    cursor: pointer;
}

.breadcrumb-input {
    border: none;
    border-radius: 8px;
    width: 100%;
    background-color: #d8dadb;
    padding: 5px 10px;
}

input:focus{
    outline: none;
}