<div class="element-container text-center my-3">
    <div class="element-header" (click)="elementAction()">
        <i class="element-icon" [ngClass]="
        ext == null ? 'bi bi-folder-fill' : 
        ext == 'generic' ? 'bi bi-file-earmark' :
        'bi bi-filetype-' + ext"></i>
    </div>
    <div class="element-name" title="{{name}}">{{name}}</div>
    <div class="element-download mt-3 d-flex align-items-center justify-content-center" 
    [ngClass]="{'element-download-loading': loading}"
    (click)="elementDownload()">
        <i class="bi bi-download" *ngIf="!loading"></i>
        <div class="ms-3 d-none d-sm-block">
            {{ loading ? 'Loading...' : 'Download'}}
        </div>
    </div>
</div>
