.element-container {
    padding: 10px;
    border-radius: 8px;
}

.element-header {
    cursor: pointer;
}

.element-header:hover .element-icon {
    color: #005b00;
}

.element-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element-download {
    flex-shrink: 0;
    margin: 0 auto;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #d8dadb;
}

.element-download:hover {
    background-color: #d8dadb;
}

.element-download-loading {
    background-color: #d8dadb;
    cursor: wait;
}

.element-icon {
    font-size: 64px;
    color: #258900;
}