<div>
  <app-breadcrumbs (getPathEvent)="getPathContent()"></app-breadcrumbs>

  <div class="container">
    <div *ngIf="loading" class="loader">
      <div class="loader-wheel"></div>
      <div class="loader-text"></div>
    </div>

    <div class="row">
      <app-element class="col-4 col-md-3 col-xl-2"
        *ngFor="let element of elements"
        (getPathEvent)="getPathContent()"
        [type]="element.type"
        [ext]="element.ext"
        [name]="element.name">
      </app-element>
    </div>

    <div class="text-center mt-5" *ngIf="notFound">
      <h1><b>404</b></h1>
      <p class="lead">Directory path not found!</p>
      <p>{{notFoundPath}}</p>
      <div class="go-root" (click)="goRoot()">Back to root</div>
    </div>
  </div>
</div>

